body {
	background: #bdc3c7;
}

h1 {
	color: #9b59b6;
}

h2 {
	color: orange;
}

li {
 	color: rgba(70,70,180,.9);
}

p {
	background: yellow;
}

input {
	border: 3px solid red;
}

.hello {
	background:  white;
}

#special {
	border: solid rgb(70,70,180);
}

div p {
	font-size: 25px;
}

input[type="text"] {
	background: gray;
}

#div3 p {
	background: pink;
}

#div3 #p2 {
	border: 5px solid white;
}

#div3 {
	font-style: italic;
}

#div3  {
	color: white;
	font-size: 20px;
}

input[type="checkbox"] {
	margin-left: 50px;
}